transformers==4.45.2
datasets
deepspeed==0.16.4
sentencepiece
tensorboardX
accelerate==1.5.2

einops
importlib-resources
jsonlines
numexpr
omegaconf
pycountry
pytablewriter
rouge-score
sacrebleu
scikit-learn
sqlitedict
tqdm-multiprocess
zstandard

bitsandbytes
peft==0.15.0
fraction
wandb
matplotlib