transformers==4.45.2
datasets
deepspeed==0.15.4
sentencepiece
tensorboardX
accelerate==1.6.0

einops
importlib-resources
jsonlines
numexpr
omegaconf
pycountry
pytablewriter
rouge-score
sacrebleu
scikit-learn
sqlitedict
tqdm-multiprocess
zstandard

bitsandbytes
peft
fraction
wandb
matplotlib