numpy
transformers==4.45.2
datasets
deepspeed==0.14.2
sentencepiece
tensorboardX
accelerate

einops
rouge-score
sacrebleu
scikit-learn
sqlitedict
zstandard

bitsandbytes==0.44.0
peft==0.15.0
fraction
wandb
matplotlib
# unsloth
